<launch>
  <arg name="cloud_cache"/>
  <param name="/use_sim_time" value="false"/>
  <node pkg="pre_map_bridge" type="depth_cloud_visualization_node.py"
        name="depth_cloud_visualization" output="screen">
    <param name="cloud_cache" value="$(arg cloud_cache)"/>
  </node>
  <node pkg="rviz" type="rviz" name="depth_cloud_rviz" output="screen"
        args="-d $(find pre_map_bridge)/config/depth_cloud.rviz"/>
</launch>
